/* CUSTOM CSS HERE */

#scrollToTop {
  cursor: pointer;
  font-size: 0.9em;
  position: fixed;
  text-align: center;
  z-index: 9999;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;

  background: #707070;
  color: #ffffff;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  right: 20px;
  bottom: 20px;
}

#scrollToTop:hover {
  background: #0088cc;
  color: #ffffff;
}

#scrollToTop>img {
  display: block;
  margin: 0 auto;
}

#header-image-1 {
  background: url(../images/paladin/brand/paladin-background.jpg) no-repeat #000000 !important;
  background-size: cover !important;
}

#header-image-2 {
  background: url(../images/slideshow/header-back2.jpg) no-repeat #000000 !important;
  background-size: cover !important;
}

#header-image-3 {
  background: url(../images/slideshow/header-back3.jpg) no-repeat #000000 !important;
  background-size: cover !important;
}

.clients-item {
  padding: 1rem; 
}
