---
layout: default
---

<body>

  <!-- Site_wraper-->
  <div class="site_wrapper">
    <!-- Page Loader-->
    <div id="pageloader">
      <div class="loader-item"> <img src="./template/shakenup/images/loading.gif" alt='Loading...' /> </div>
    </div>
    <!-- End Page Loader-->

    <!-- Container -->
    <div id="navigation-wrapper">
      <div id="navigation-inner">
        <a id="navigation-logo" href="./index.html"><img src="./template/shakenup/images/menu-logo.png" alt="navigation-logo"></a>
        <div id="navigation-menu-wrapper">
          <img src="./template/shakenup/images/mobile-menu-icon-black.png" class="mobile-menu-icon" alt="mobile-menu-icon">

          <ul id="navigation-menu" class="clearfix">
            {% include navbar.html %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Start Slideshow -->
    <div class="moduletable">

      <div id="header-wrapper">
        <div id="header-slider" class="clearfix">
          <div id="header-image-1" class="header-image">
            <!-- <div class="transparent-frame"></div> -->
            <!-- <div class="header-slide">
              <p class="header-title">
                {{ site.title | upcase }}
              </p>
              <p class="header-desc">
                {{ site.description }}
              </p>
              <a class="header-link filter-button" href="#portfolio-wrapper">LEARN MORE</a> </div> -->
          </div>
        </div>
        <!-- <div id="header-slidernav"> <i class="fa fa-angle-right header-slidernav-arrow"></i>
          <div id="header-slidernav-page" class="clearfix">
            <div id="header-slidernav-page-inner">
              <p id="header-slidernav-current">1</p>
              <p id="header-slidernav-total">/1</p>
            </div>
          </div>
          <i class="fa fa-angle-left header-slidernav-arrow"></i> </div> -->
        <div id="header-navigation">
          <a id="header-logo" href="./index.html"><img src="./template/shakenup/images/header-logo.png" alt=""></a>

          <div id="header-menu-wrapper"> <img src="./template/shakenup/images/mobile-menu-icon.png" class="mobile-menu-icon" alt="">
            <!-- Start Header menu -->



            <ul id="header-menu" class="clearfix">
              {% include navbar.html %}
            </ul>



            <!-- End Header Menu -->
          </div>
        </div>
        <div id="header-getstarted">
          <p id="getstarted-text">SCROLL DOWN</p>
          <i id="getstarted-arrow" class="fa fa-angle-down"></i> </div>
      </div>
    </div>

    <!-- End Slideshow -->

    <div id="content-wrapper">
      <div class="separator-100"></div>
      <!-- Content -->



            <section id="" class="clearfix">
              <p>
                <!-- START: Articles Anywhere -->
              </p>
              <div class="clients-item col-2" data-scroll-reveal=""><img class="clients-background" src="./template/shakenup/images/clients/photo1.jpg" alt="" />
                <!-- <div class="transparent-frame transparent-80">&nbsp;</div> -->
                <img class="clients-logo" src="./template/shakenup/images/clients/envato.png" alt="" /></div>
            </section>
            <div class="separator-100"></div>





      <!-- End Content -->
    <!-- End Footer Section -->
  </div>
  <!-- End Container -->

  </div>
  <!-- End Site_wraper-->
</body>
