<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Summer Case Analyst Program</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                    <br>
                </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <p class="large">
                  Paravane Ventures’ Summer Case Analyst program allows college students to submit strategy proposals for cases involving real challenges our portfolio companies are tackling. The program is highly exclusive with an acceptance rate of about 0.5% 

                </p>
                <p class="large">
                  Our analysts have gone off to work in technology, consulting, venture capital, and related fields, at industry leaders including Google, Amazon, and McKinsey.
                </p>
                
              </div>
              <div class="col-md-6">
                <img src="{{ site.baseurl }}/img/paladin-sign.jpg" class="img-responsive">
              </div>
            </div>
        </div>
    </section>
