
<section id="apply">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Apply</h2>
                <br>
                <!-- <h3 class="section-subheading text-muted">
                  Now recruiting for Summer 2018
                </h3> -->
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="{{ site.baseurl }}/img/paladin-letters.jpg" class="img-responsive">
          </div>
          <div class="col-md-6">
            <p class="large">
              Email your resume to <a href="mailto:talent@paladin.ventures">talent@paladin.ventures</a> with the subject line including the role(s) you are interested in. You may apply to up to two different roles. Please specify which role you prefer in the body of the email. Expect to hear back within 5-7 business days if we will be moving forward with your candidacy.
            </p>
            <br>

            <div class="text-center">
              <a type="submit" class="btn btn-xl" href="mailto:talent@paladin.ventures">Apply Now</a>
            </div>
          </div>
        </div>
    </div>
</section>
