<section id="apply">
    <div class="container">
        <div class="row">
            </br></br></br></br></br></br></br></br>
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">2020 Product Design Case Winners</h2>
                <br>
                <!-- <h3 class="section-subheading text-muted">
                  Now recruiting for Summer 2018
                </h3> -->
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <img src="{{ site.baseurl }}/img/caseAnalysts/ivan.jpg" class="img-responsive">
          </div>
          <div class="col-md-8">
            <p class="large"><strong>Case One: Online Educational Platform Redesign</strong> </p>
            <p class="large"><strong>Winner: <a href="https://ca.linkedin.com/in/ivan-song-7aa695155/">Ivan Song</strong></a> </p>
            <p class="large">Education: University of British Columbia, Class of 2021</p>
            <p class="large">Major: BSc Cognitive System; Masters of Management </p>
            <p class="large">
              We were extremely impressed with Ivan’s design explorations for an online course platform. He did an excellent job visually reimagining how to structure the content to make the whole website better come together and feel more premium. </p>
            <br>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4">
            <img src="{{ site.baseurl }}/img/caseAnalysts/ravina.jpg" class="img-responsive">
          </div>
          <div class="col-md-8">
            <p class="large"><strong>Case Two: Career Growth and Professional Development App</strong> </p>
            <p class="large"><strong>Winner: <a href="https://www.linkedin.com/in/ravinapatel0/">Ravina Patel</strong></a> </p>
            <p class="large">Education: Cornell University, Class of 2022</p>
            <p class="large">Major: Bachelors of Science in Computer Science</p>
            <p class="large">
              We really liked how Ravina was able to present her thoughts cohesively in a visually attractive manner. Her submission not only presented her user research succinctly, but it also did so in an immersive way that helped the reader get into the shoe's of the user.</p>
            <br>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <img src="{{ site.baseurl }}/img/caseAnalysts/jayden.jpg" class="img-responsive">
          </div>
          <div class="col-md-8">
            <p class="large"><strong>Case Two: Career Growth and Professional Development App</strong> </p>
            <p class="large"><strong>Winner: <a href="https://www.linkedin.com/in/jaydenmaloto/">Jayden Maloto</strong></a> </p>
            <p class="large">Education: University of Illinois at Urbana-Champaign, Class of 2020</p>
            <p class="large">Major: Bachelor of Science in Architectural Studies</p>
            <p class="large">
              We also really liked how Jayden's submission went deep on the user needs and tied them back to the mockups he created. It was easy to tell how he arrived at the assumptions he made as he walked through the low-fidelity wireframes, and then seeing the transition to the high-fidelity versions at the end made this experience easy to imagine.</p>
            <br>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <img src="{{ site.baseurl }}/img/caseAnalysts/ravina.jpg" class="img-responsive">
          </div>
          <div class="col-md-8">
            <p class="large"><strong>Case Three: Interview Preparation Website Redesign</strong> </p>
            <p class="large"><strong>Winner: <a href="https://www.linkedin.com/in/ravinapatel0/">Ravina Patel</strong></a> </p>
            <p class="large">Education: Cornell University, Class of 2022</p>
            <p class="large">Major: Bachelors of Science in Computer Science</p>
            <p class="large">
              We really liked how Ravina thought through all the user pain points to simplify the user experience and built trust and a greater sense of community. Her design also thought through how to better optimize readability throughout the website to increase accessibility.</p>
            <br>
          </div>
        </div>
        <br>
    </div>
</section>
