
      <!-- Footer Section -->

      <section id="footer-wrapper" data-slug="contact">
        <div id="contact">

          <div id="footer-logo-wrapper">
            <img id="footer-logo" src="images/paladin/brand/paladin-logo-light-draft.png" alt="">
          </div>

          <p class="lead">
            Copyright &copy; 2018 Paladin Ventures.
            <a href="mailto:contact@paladin.ventures"><i class="fa fa-envelope"></i></a>
            <a href="https://www.linkedin.com/company/swipe-to-unlock/"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/PaladinVentures"><i class="fa fa-github"></i></a>
          </p>
        </div>
      </section>


      <!-- End Footer Section -->
      </div>
      <!-- End Container -->

    </div>
    <!-- End Site_wraper-->
</body>
