<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Internships</h2>
                    <!-- <br> -->
                    <h3 class="section-subheading text-muted">
                      Now recruiting for Summer 2018
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 extra-padding">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Who Can Apply</h4>
                    <p class="text-muted large text-justify">
                      At Paladin, we value drive and initiative over past experience. For that reason, we welcome everyone from freshmen to seniors to apply for our internships. Students of all majors are encouraged to apply.
                    </p>
                    <p class="text-muted large text-justify">
                      Most of our summer internships are remote. However, at this time, we can only consider students based in the United States because we are unavailable to sponsor or offer work authorization.

                    </p>
                </div>
                <div class="col-md-4 extra-padding">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Compensation</h4>
                    <p class="text-muted large text-justify">
                      Our internships are paid, but the payment structure varies by role. Payment is some form of commission or profit-sharing for business roles or fixed payment per completed assignment/project for design and engineering roles.
                    </p>
                    <p class="text-muted large text-justify">
                      Most of our summer internships are remote.
                    </p>
                </div>
                <div class="col-md-4 extra-padding">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Experience</h4>
                    <p class="text-muted large text-justify">
                      If you are looking to maximize earnings this summer, Paladin is most likely not the place for you. Because our portfolio is comprised of early stage startups, we are unable to offer the most competitive compensation packages.
                    </p>
                    <p class="text-muted large text-justify">
                      However, if your goal is to maximize your learning by working with industry leaders with previous experience at top companies, Paladin is the place for you.
                    </p>
                </div>
            </div>
        </div>
    </section>
