<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Internships</h2>
                <!-- <br> -->
                <h3 class="section-subheading text-muted">
                  Now recruiting!
                </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
              <div class="single-column">
                <!-- <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                </span> -->
                <i class="fa fa-user fa-4x text-primary"></i>
                <!-- <svg width="45" height="46" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M42.25 35.9913C42.25 29.3643 33.296 23.9913 22.25 23.9913C11.204 23.9913 2.25 29.3643 2.25 35.9913" stroke="#65A9E3" stroke-width="4" stroke-linecap="round"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.25 24C28.325 24 33.25 19.075 33.25 13C33.25 6.925 28.325 2 22.25 2C16.175 2 11.25 6.925 11.25 13C11.25 19.075 16.175 24 22.25 24V24Z" stroke="#65A9E3" stroke-width="4" stroke-linecap="round"/>
                  <path d="M42 35.9913V42.5563C42 43.1423 41.801 43.9913 41.221 43.9913H3.279C2.711 43.9913 2 43.1353 2 42.5563V35.9913" stroke="#65A9E3" stroke-width="4" stroke-linecap="round"/>
                  </svg>             -->
                <h4 class="service-heading">Who Can Apply</h4>
                <p class="text-muted large text-left">
                  At Paravane, we value drive and initiative over past experience. For that reason, we welcome everyone from freshmen to seniors to apply for our internships. Students of all majors are encouraged to apply.
                </p>
                <p class="text-muted large text-left">
                  Most of our internships are remote. However, at this time, we can only consider students based in the United States because we are unavailable to sponsor or offer work authorization.
                </p>
              </div> 
            </div>
            <div class="col-md-4">
              <div class="single-column">
                <!-- <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                </span> -->
                <i class="fa fa-dollar fa-4x text-primary"></i>
                <!-- <svg width="25" height="46" viewBox="0 0 25 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.33333 8.36364H16.6667C18.9646 8.36364 20.8333 10.2392 20.8333 12.5455H25C25 7.93291 21.2625 4.18182 16.6667 4.18182H14.5833V0H10.4167V4.18182H8.33333C3.7375 4.18182 0 7.93291 0 12.5455V16.7273C0 21.3398 3.7375 25.0909 8.33333 25.0909H16.6667C18.9646 25.0909 20.8333 26.9665 20.8333 29.2727V33.4545C20.8333 35.7608 18.9646 37.6364 16.6667 37.6364H8.33333C6.03542 37.6364 4.16667 35.7608 4.16667 33.4545H0C0 38.0671 3.7375 41.8182 8.33333 41.8182H10.4167V46H14.5833V41.8182H16.6667C21.2625 41.8182 25 38.0671 25 33.4545V29.2727C25 24.6602 21.2625 20.9091 16.6667 20.9091H8.33333C6.03542 20.9091 4.16667 19.0335 4.16667 16.7273V12.5455C4.16667 10.2392 6.03542 8.36364 8.33333 8.36364Z" fill="#65A9E3"/>
                  </!-->
                  
                <h4 class="service-heading">Compensation</h4>
                <p class="text-muted large text-left">
                  Our internships are paid, but the payment structure varies by role. Payment is some form of commission or profit-sharing for business roles.
                </p>
                <p class="text-muted large text-left">
                  Most of our internships are remote.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-column">
                <!-- <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
                </!-->
                <i class="fa fa-suitcase fa-4x text-primary"></i>
                <!-- <svg width="58" height="51" viewBox="0 0 58 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M48.0175 12.6194H9.07962C5.16965 12.6194 2 15.7891 2 19.6991V40.9379C2 44.8479 5.16965 48.0175 9.07962 48.0175H48.0175C51.9275 48.0175 55.0971 44.8479 55.0971 40.9379V19.6991C55.0971 15.7891 51.9275 12.6194 48.0175 12.6194Z" stroke="#65A9E3" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M16.1592 12.6194V48.0175" stroke="#65A9E3" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M40.938 12.6194V48.0175" stroke="#65A9E3" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M37.3978 12.6194V5.53981C37.3978 4.60099 37.0248 3.70063 36.361 3.03679C35.6971 2.37294 34.7968 2 33.858 2H23.2385C22.2997 2 21.3994 2.37294 20.7355 3.03679C20.0717 3.70063 19.6987 4.60099 19.6987 5.53981V12.6194" stroke="#65A9E3" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg> -->
                  
                <h4 class="service-heading">Experience</h4>
                <p class="text-muted large text-left">
                  If you are looking to maximize earnings, Paravane is most likely not the place for you. Because our portfolio is comprised of early stage startups, we are unable to offer the most competitive compensation packages.
                </p>
                <p class="text-muted large text-left">
                  However, if your goal is to maximize your learning by working with industry leaders with previous experience at top companies, Paravane is the place for you.
                </p>
              </div>  
            </div>
        </div>

        <div class="text-center">
          <a class="btn btn-xl btn-primary page-scroll" href="#apply">Apply</a>
        </div>
    </div>
</section>