<section id="apply">
    <div class="container">
        <div class="row">
            </br></br></br></br></br></br></br></br>
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">2020 Market Research & Strategy Case Winners</h2>
                <br>
                <!-- <h3 class="section-subheading text-muted">
                  Now recruiting for Summer 2018
                </h3> -->
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <img src="{{ site.baseurl }}/img/caseAnalysts/Rodrigo.jpg" class="img-responsive">
          </div>
          <div class="col-md-8">
            <p class="large"><strong>Case One: Speaker Booking Platform Market Strategy</strong> </p>
            <p class="large"><strong>Winner: <a href="https://www.linkedin.com/in/rodrigo-chaname-196080136/">Rodrigo Chaname</strong></a> </p>
            <p class="large">Education: Harvard University </p>
            <p class="large">Major: Dual BA Computer Science and Economics </p>
            <p class="large">
              We were extremely impressed with Rodrigo's competitive analysis and takeaways. He went above and beyond by making accounts on competitors websites, analyzing their business model and product, and summarizing key takeaways along the way, which made his strategic recommendations convincing.</p>
            <br>
          </div>
       </div>
       <br>
       <div class="row">
          <div class="col-md-4">
            <img src="{{ site.baseurl }}/img/caseAnalysts/j.jpg" class="img-responsive">
          </div>
          <div class="col-md-8">
            <p class="large"><strong>Case Two: Product Education Competitive Analysis</strong> </p>
            <p class="large"><strong>Winner: <a href="https://www.linkedin.com/in/mxjshelly/">J Shelly</strong></a> </p>
            <p class="large">Education: MIT, Class of 2020</p>
            <p class="large">Major: Bachelors of Science in Biology, Minor in Entrepreneurship & Innovation, and Concentration: German</p>
            <p class="large">
              We were extremely impressed with J's competitive analysis and takeaways. The submission went above and beyond by analyzing traditional product courses, short courses, time-based courses, and even product communities which could offer formal courses in the future and then concluding with a very actionable list of do's and don'ts for anyone looking to enter this market.</p>
            <br>
          </div>
       </div>
    </div>
</section>
