<section id="business" class="bg-image business-bg">

  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Business Roles</h2>
              <br>
          </div>
      </div>
      {% for job in site.data.jobs.business %}
        <div class="row">
          <div class="col-md-3 text-center">
            <span class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-{{ job.icon }} fa-stack-1x text-primary"></i>
            </span>
          </div>
          <div class="col-md-9">
            <h3>{{ job.role }}</h3>
            <p class="large">
              {{ job.description }}
            </p>
          </div>
        </div>
      {% endfor %}
  </div>
</section>

<br>
<br>

<section id="design-eng" class="bg-image coding-bg">

  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Design &amp; Engineering Roles</h2>
              <br>
          </div>
      </div>
      {% for job in site.data.jobs.design_eng %}
        <div class="row">
          <div class="col-md-3 text-center">
            <span class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-{{ job.icon }} fa-stack-1x text-primary"></i>
            </span>
          </div>
          <div class="col-md-9">
            <h3>{{ job.role }}</h3>
            <p class="large">
              {{ job.description }}
            </p>
          </div>
        </div>
      {% endfor %}
  </div>
</section>
