<section id="roles" class="section-primary">
  <div class="col-6">
  <h3>BUSINESS</h3>
  <br>
  <ul class="content-text ul-padded">
    <li>
      <strong>Communications/PR Intern:</strong> This role will entail creating a communication and press release strategy for a portfolio company for external messaging to news organization and partners.
    </li>
    <li><strong>Social Media & Content Marketing Intern:</strong> This role will entail crafting messaging on social media and content creation for a portfolio company.</li>
    <li><strong>Market Research & Strategy Intern:</strong> One of our portfolio companies is working on a disruptive new product which could fundamentally change the curriculum taught in high schools around the country. This internship will entail doing market research to understand the needs of relevant stakeholders and creating a go to market strategy.</li>
    <li><strong>Growth & Performance Marketing Intern:</strong> This role will entail crafting and executing on the paid advertising strategy for a portfolio company on Google, Facebook, and other relevant consumer platforms.</li>
  </ul>
</div>
<div class="col-6">
  <h3>DESIGN &amp; ENGINEERING</h3>
  <br>
  <ul class="content-text ul-padded">
    <li><strong>Product Design Intern:</strong> This role will entail creating website and app designs for new verticals being explored by our portfolio companies. Please include links or attachments of your previous design work in your application if applicable.</li>

    <li><strong>Graphic Design Intern:</strong> This role will entail helping graphically shape the brand identity of a portfolio company. Please include links or attachments of your previous design work in your application if applicable.</li>

    <li><strong>Software Engineering Intern:</strong> This role will entail building proof of concepts of product ideas. Available projects include full-stack web development, mobile (iOS or Android) app development, and proof-of-concept algorithm design and testing. Please include links to your Github or other previous projects if applicable.</li>

  </ul>
</div>
</section>
