<section id="apply">
    <div class="container">
        <div class="row">
            </br></br></br></br></br></br></br></br>
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">2020 Product Strategy Case Winners</h2>
                <br>
                <!-- <h3 class="section-subheading text-muted">
                  Now recruiting for Summer 2018
                </h3> -->
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <img src="{{ site.baseurl }}/img/caseAnalysts/alexandra.jpg" class="img-responsive">
          </div>
          <div class="col-md-8">
            <p class="large"><strong>Case One: Technology Strategy Storytelling Competition</strong> </p>
            <p class="large"><strong>Winner: <a href="https://www.linkedin.com/in/sasha-alexandra-kipnis/">Alexandra (Sasha) Kipnis</strong></a> </p>
            <p class="large">Education: Purdue University, Class of 2021</p>
            <p class="large">Major: BS Computer Science with a concentration in Machine Learning; Minors: Statistics and Entrepreneurship</p>
            <p class="large">
              We were extremely impressed with Alexandra's research and storytelling. Not only did she come up with multiple strong ideas, but she also went above and beyond by submitting two writeups, both of which were beautifully written analysis on interesting topics.  </p>
            </p>
            <br>
          </div>
       </div>
    </div>
</section>
