
<section id="apply">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">2019 Case Winners</h2>
                <br>
                <!-- <h3 class="section-subheading text-muted">
                  Now recruiting for Summer 2018
                </h3> -->
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <img src="{{ site.baseurl }}/img/caseAnalysts/kristine.jpg" class="img-responsive">
          </div>
          <div class="col-md-8">
            <p class="large"><strong>Case One: Influencer Platform Go-To-Market Strategy </strong> </p>
            <p class="large"><strong>Winner: <a href="https://www.linkedin.com/in/kristine-taylor-6309a4140/">Kristine Taylor</strong></a> </p>
            <p class="large">Education: Stanford University </p>
            <!--<p class="large">Major: Dual BA and BS, International Relations; Product Design; minor in Modern Languages (Arabic and Tagalog) </p>
            <p class="large">
              Noah's did a thorough analysis of the Orange County market complete with proof of concept's at specific schools. He coupled this with an idea to create a summer immersion experience for students with higher willingness to pay, in addition to our classroom curriculum offering.</p>

              <p class="large">Given that the education market is whale heavy (a small percentage of families have an extremely high willingness to pay which constitutes most of the market), creating a premium summer experience for the “whales” was a great idea to increase revenue.
            </p>-->
            <br>
          </div>
          <!--<div class="col-md-4">
            <img src="{{ site.baseurl }}/img/caseAnalysts/grace.jpg" class="img-responsive">
          </div>
          <div class="col-md-8">
            <p class="large"><strong>Case Two: Event Management Software Growth Strategy</strong> </p>
            <p class="large"><strong>Winner: <a href="https://www.linkedin.com/in/graceconnor/">Grace Connor</strong></a> </p>
            <p class="large">Education: Stanford University </p>
            <p class="large">Major: Neuroscience</p>
            <p class="large">
              Grace demonstrated a clear understanding of the industry, competitors, and most importantly, the needs and painpoints experienced by a user of this software. Her recommendations were thorough and addressed the overarching strategy but also the minor, yet important modifications to improve the user experience. This included layout changes, planning services, plugin additions, partnership promotions and pre-made templates.</p>

              <p class="large">Overall, we were very impressed with Grace’s ability to envision how the product needs should evolve to meet the growth objectives of the company.
            </p>
            <br>
          </div>-->
        </div>
    </div>
</section>
