code {
	color: #F00;
}
.item-page ol li {
	font-size: 13px;
	line-height: 30px;
	margin-left: 20px;
}
.item-page ul li {
	font-size: 13px;
	list-style-type: square;
	margin-left: 15px;
}
.download_link {
	color: #ff0000;
	font-weight: bold;
}
.artical li a {
	text-decoration: none;
}
.item-page a {
	color: #f26341;
	height: 26px;
	text-decoration: none;
}
#step1, #step2, .title {
	color: #f26341;
	font-size: 16px;
	margin: 3px 0;
}
.sub {
	margin-bottom: 10px;
	margin-left: 20px;
	margin-top: 10px;
}
.item-page ol li {
	font-size: 13px;
	line-height: 30px;
}
img {
	border: 0 none;
	height: auto;
	max-width: 90%;
	vertical-align: middle;
}
.top {
	bottom: 15px;
	cursor: pointer;
	position: fixed;
	right: 15px;
}
.top {
	cursor: pointer;
}
.heading {
	color: #f26341;
	font-size: 15px;
}
.sub img {
	padding-right: 10px;
}
.item-page h2 {
	padding-left: 11px;
}
b {
	color: #3c3c3c;
}
.sub strong {
	color: #000000;
	font-size: 15px;
}
.listtit {
	background-color: #f26341;
	border-radius: 50%;
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	margin-right: 10px;
	margin-top: 14px;
	padding-left: 10px;
	width: 50px;
}
.sub.mainlist > li {
	list-style: none outside none!important;
	padding-top: 8px;
}
.sub.secondlist > li {
	border-bottom: 1px solid #000000;
	list-style: none outside none;
	margin-bottom: 10px;
	margin-left: 0;
	padding: 5px 0;
}
.heading > p {
	color: #f26341;
	font-size: 18px;
}
.footer_container .sub_container {
	border: 0 none;
	padding: 0;
}
#Extensions_guide p, #Installation_guide p {
	margin: 0;
}
